<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Eventhub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/events" routerLinkActive="active" href="#">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/special" routerLinkActive="active" href="#">Members</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link active" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active" href="#">Login</a>
      <a class="nav-link active" *ngIf="!authService.loggedIn()" routerLink="/register" routerLinkActive="active" href="#">Register</a>
      <a class="nav-link active" *ngIf="authService.loggedIn()" style="cursor: pointer;" (click)="authService.logoutUser()">Logout</a>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>